.root {
    max-width: 100%;
}

.media {
    height: 0;
    padding-top: 62%;
    width: 60%;
    margin: 0 auto;
}

.cardAction {
    display: flex;
    justify-content: flex-end;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}